<style>
h1{
  color: blueviolet;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
  h3{
  color:cornflowerblue;
  background-color: pink;
}
body{
  background-color: rgb(235, 191, 134);
  color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
ul {
  font-family: fantasy;
}
</style>